/* -------------------- variables --------------------*/
:root {
  --primary-color: #ff7b47;
  --secondary-color-1: #0d5c63;
  --secondary-color-2: #17213c;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --dark-background-color: #252b42;
  --muted-background-color: #fafafa;
  --light-background-color: #ffffff;
  --hover-color: #2a7cc7;
  --disabled-element-color: #8ec2f2;
  --muted-color: #bdbdbd;
  --success-color: #2dc071;
  --alert-color: #e77c40;
  --danger-color: #e74040;

  --font-family: "Montserrat", sans-serif;
}

/* -------------------- basic styles -------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--muted-background-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .header-block__title {
    font-size: 33px;
  }
}

.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__subtitle {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

/* -------------------- header styles -------------------- */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: inherit;
}

.header__menu {
  margin-left: 133px;
}

@media screen and (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .header__menu {
    margin-left: 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.menu__link {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text-color);
}

@media screen and (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/* -------------------- main-block styles -------------------- */
.main-page {
  flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media screen and (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

@media screen and (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
}

.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0em;
}

@media screen and (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
    text-align: center;
  }
}

.main-block__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

@media screen and (max-width: 479px) {
  .main-block__subtitle {
    color: var(--text-color);
    opacity: 0.8;
    text-align: center;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

@media screen and (max-width: 479px) {
  .main-block__buttons {
    justify-content: center;
  }
}

.main-block__button {
  display: flex;
  padding: 5px 36px;
  margin: 10px 0;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.01em;
  border-radius: 37px;
  transition: color ease 0.5s;
}

@media screen and (max-width: 479px) {
  .main-block__button {
    flex: 1 1 auto;
  }
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.main-block__button_primary {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.main-block__button_primary:hover {
  color: var(--light-text-color);
  background: var(--primary-color);
}

.main-block__button_secondary {
  color: var(--secondary-color-1);
  border: 2px solid var(--secondary-color-1);
}

.main-block__button_secondary:hover {
  color: var(--light-text-color);
  background: var(--secondary-color-1);
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media screen and (max-width: 479px) {
  .main-block__image img {
    object-position: center;
  }
}

@media screen and (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

/* -------------------- services-block styles -------------------- */
.main-page__services {
  position: relative;
  margin-top: -111px;
  z-index: 2;
}

@media screen and (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.33%;
}

@media screen and (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media screen and (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }

  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }
}

.services__item {
  padding: 35px;
  height: 100%;
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
}

@media screen and (max-width: 992px) {
  services__item {
    padding: 25px;
  }
}

.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-service-primary {
  background: var(--light-background-color);
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--text-color);
}

.item-service__subtitle {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.item-service-secondary {
  background: var(--secondary-color-1);
}

.item-service-secondary .item-service__title,
.item-service-secondary .item-service__subtitle {
  color: var(--light-text-color);
}

/* -------------------- advantages-block styles -------------------- */
.advantages {
  padding: 80px 0;
}

@media screen and (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}

.advantages__header {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .advantages__header {
    margin-bottom: 25px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.advantages__column {
  padding: 0 15px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}

@media screen and (max-width: 992px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 560px) {
  .advantages__column {
    flex: 1 1 100%;
  }
}

.advantages__item {
  padding: 30px;
  height: 100%;
  text-align: center;
  background: var(--light-background-color);
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
}

.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

/* -------------------- practice-block styles -------------------- */
.practice {
  padding: 125px 0 80px 0;
}

@media screen and (max-width: 993px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media screen and (max-width: 767px) {
  .practice {
    padding: 0 0 40px 0;
  }
}

.practice__header {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .practice__header {
    margin-bottom: 25px;
  }
}

.practice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -30px;
}

.practice__column {
  padding: 0 20px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}

@media screen and (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media screen and (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--light-background-color);
  box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  display: inline-block;
  color: inherit;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.item-practice__text {
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.item-practice__image {
  display: block;
  padding-bottom: 60%;
}

/* footer styles */
